body {
    font-family: 'Poppins', '  sans-serif';
}

a{
    text-decoration: none!important;
}

.section-heading{
    color: var(--bs-purple);
}

@media (max-widht: 768px){


.headre-social-icon{
    display: none;
}
}

nav{
    background: #fff!important;
    box-shadow: 1px 1px 2px #4444;
}

.navbar-brand {
    color: var(--bs-purple)!important;
}
.navbar-nav .navbar.link {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-toggler {
    outline: none!important;
    padding: none!important;
}

.carousel-inner .carousel-item {
    width: 100%;
    height: 100hv;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-inner.carousel-inner::before{
    content: '';    
    background-color: rgba(12, 11, 10, 05);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.carousel-inner .carousel-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    top: 37%;
    left: 0px;
    right: 0px;
}
.carousel-inner .carousel-caption span{
    color: var(--bs-purple);
}
.carousel-inner .carousel-caption h2{
    color: #fff;
  
    font-size: 42px;
    font-weight: 600px;
    width: 80%;
    margin: 0px auto 10px auto;
}

.carousel-inner .carousel-caption p{
    font-size: 20px;
    width: 80%;
    margin: 0px auto 20px auto; 

}

@media(max-widht: 768px){
    .carousel-inner .carousel-caption h2{
        font-size: 38px;
    }
}

@media(max-widht: 577px){
    .carousel-inner .carousel-caption h2{
        font-size: 25px;
    }
    .carousel-inner .carousel-caption p{
        font-size: 13px;
    }
}

.course .box{
    padding: 10px 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.course .box img{

}